* , body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  background: #263f44;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  height: 70px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
}

.nav-links {
  gap: 20px;
  display: flex;
  flex: 0.75;
  justify-content: center;
}

.nav-button {
  display: flex;
  flex: 0.25;
  justify-content: end;
}

.nav-links a {
  color: #ffd369;
  text-decoration: none;
  font-weight: 600;
}

.nav-button button {
  background: #ffd369;
  border-radius: 20px;
  border: none;
  width: 35%;
  color: #263f44;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  justify-content: end;
  margin: 15px;
}

#hero-section {
  display: flex;
  flex-direction: row;
  background: #fff1cf;
  height: 100%;
  padding: 20px;
}

.marker-div,
.info-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 80px 0px;
}

.info-div {
  justify-content: center;
  gap: 30px;
}

.info-div h1 {
  color: #263f44;
  font-size: 90px;
  margin: 0;
}

.info-div p {
  color: #263f44;
  font-size: 25px;
  padding: 10px;
}

.sgn-btn {
  background: #ffd369;
  border-radius: 20px;
  border: none;
  width: 50%;
  color: #263f44;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
}

.marker-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grid-line {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.marker {
  width: 50px;
  height: 50px;
  background: #ffd369;
  border-radius: 100%;
  color: #263f44;
  font-size: 25px;
  font-weight: 800;
  align-content: center;
  justify-items: center;
}

.search-bar {
  background: white;
  border-radius: 20px;
  width: 450px;
  height: 50px;
  border: 2px solid black;
  justify-items: center;
}

.search-bar p {
  font-size: 30px;
}

/* .gmb-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff1cf;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.gmb-square {
  width: 60px;
  height: 60px;
  background: #ffd369;
}

.single-line {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.square-audit {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #015668;
  width: 600px;
  height: 600px;
  z-index: 20;
  padding: 20px;
  gap: 40px;
}

.square-audit h2 {
  color: #fff1cf;
  font-size: 100px;
}

.square-audit p {
  color: #fff1cf;
  font-size: 20px;
}

.square-audit button {
  border: none;
  background: #fff1cf;
  border-radius: 20px;
  color: #263f44;
  font-size: 40px;
  font-weight: 600;
} */

.data-seo-container {
  background: #015668;
}

.data-seo {
    display: flex;
    flex-direction: column;
    background: #015668;
    align-items: center;
  }
  
.data-seo h2 {
    color: #fff1cf;
    font-size: 80px;
    text-align: center;
    padding: 20px;
}

.data-div {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  position: relative;
}

.scroll-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
}
  
.scroll-track {
    width: 15px;
    height: 100%;
    background: #fff1cf;
}
  
.scroll-dot {
    width: 90px;
    height: 90px;
    border: 5px solid #263f44;
    background: #ffd369;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 200;
    font-size: 4rem;
    color: #263f44;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  
.one-feature {
  display: flex;
  flex-direction: row;
  margin: 0px 50px;
}

.feature-text,
.feature-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 50px;
  justify-content: center;
}

.feature-img {
  align-items: center;
}

.feature-text h3 {
  font-size: 70px;
  color: #ffd369;
}

.feature-text p {
  font-size: 25px;
  color: #fff1cf;
  line-height: 2.2em;
  margin-top: 20px;
}

.feature-img img {
  width: 500px;
  height: 500px;
}

.form-div {
  display: flex;
  flex-direction: column;
  background: #fff1cf;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.form-div h2 {
  color: #263f44;
  font-size: 60px;
  text-align: center;
  padding: 0px 20px;
}

.form-div p {
  color: #263f44;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  font-weight: 500;
}

.form-div span {
  color: #263f44;
  font-weight: 800;
  text-shadow: 2px 5px 1px #ffd369;
}

.form-a {
  background: #263f44;
  width: 50%;
  padding: 50px;
  border-radius: 20px;
}

.form-a input {
  background: #fff1cf;
  border-radius: 20px;
  border: none;
  width: 80%;
  height: 50px;
  margin: 10px 0px;
}

.form-a label {
  color: #ffd369;
  font-size: 20px;
}

.form-a button {
  background: #ffd369;
  border: none;
  border-radius: 20px;
  width: 50%;
  padding: 10px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #263f44;
  cursor: pointer;
}

.counter {
  display: flex;
  flex-direction: row;
  background: #263f44;
  margin-top: 20px;
  width: 50%;
  color: #ffd369;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}

.counter h2 {
  color: #ffd369;
  margin: 0;
  font-size: 50px;
}

.counter i {
  font-size: 50px;
  color: #fff1cf;
}

.counter span {
  color: #ffd369;
  font-size: 50px;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  background: #263f44;
  height: 10vh;
  justify-content: center;
  align-items: center;
  color: #fff1cf;
  font-size: 20px;
  gap: 10px;
  text-align: center;
}

.ith-class {
  display: flex;
  background: #fff1cf;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  color: #263f44;
  font-size: 20px;
}


@media (max-width: 1500px) {
  .nav-bar {
    max-width: 1000px;
  }

  .nav-links a {
    font-size: 16px;
  }

  .nav-button button {
    font-size: 16px;
  }

  .info-div {
    gap: 20px;
  }

  .info-div h1 {
    font-size: 80px;
  }

  .info-div p {
    font-size: 20px;
    padding: 0px;
  }
}

@media (max-width: 1200px) {
  .nav-bar {
    max-width: 900px;
  }

  .nav-links a {
    font-size: 16px;
  }

  .nav-button button {
    font-size: 16px;
  }

  .info-div {
    gap: 10px;
  }

  .info-div h1 {
    font-size: 70px;
  }

  .info-div p {
    font-size: 18px;
    padding: 0px;
  }

  .sgn-btn {
    font-size: 22px;
  }

  .marker {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }

  .search-bar {
    width: 400px;
    height: 35px;
  }

  .search-bar p {
    font-size: 25px;
  }

  .data-seo h2 {
    font-size: 70px;
  }

  .scroll-dot {
    width: 80px;
    height: 80px;
  }

  .one-feature {
    gap: 120px;
  }

  .feature-text h3 {
    font-size: 60px;
  }

  .feature-text p {
    font-size: 22px;
  }

  .feature-img {
    padding: 10px;
  }

  .feature-img img {
    width: 420px;
    height: 420px;
  }

  .form-div h2 {
    font-size: 55px;
  }

  .counter {
    padding: 5px;
  }

  .counter h2 {
    font-size: 45px;
  }

}


@media (max-width: 950px) {
  .nav-bar {
    max-width: 700px;
    height: 50px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .nav-button button {
    font-size: 14px;
    width: 40%;
  }

  .marker-div, .info-div {
    margin: 60px 0px;
  }

  .info-div {
    gap: 10px;
  }

  .info-div h1 {
    font-size: 60px;
    margin: 0;
  }

  .info-div p {
    font-size: 16px;
    padding: 0px;
  }

  .sgn-btn {
    font-size: 18px;
    padding: 5px;
  }

  .marker {
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
  }

  .main-box{
    gap: 25px;
  }

  .grid-line {
    gap: 25px;
  }

  .search-bar {
    width: 320px;
    height: 30px;
  }

  .search-bar p {
    font-size: 20px;
  }

  .data-seo h2 {
    font-size: 60px;
  }

  .scroll-dot {
    width: 70px;
    height: 70px;
  }

  .one-feature {
    gap: 100px;
    margin: 30px;
  }

  .feature-text h3 {
    font-size: 50px;
  }

  .feature-text p {
    font-size: 20px;
  }

  .feature-img {
    padding: 8px;
  }

  .feature-img img {
    width: 330px;
    height: 330px;
  }

  .counter h2 {
    font-size: 40px;
  }

  .footer {
    font-size: 18px;
  }

}


@media (max-width: 775px) {
  .nav-bar {
    max-width: 600px;
    height: 65px;
  }

  .nav-links a {
    font-size: 16px;
  }

  .nav-button button {
    font-size: 16px;
    width: 100%;
  }

  #hero-section {
    flex-direction: column;
  }

  .marker-div, .info-div {
    margin: 0px;
  }

  .info-div {
    gap: 10px;
    order: 1;
    align-items: center;
    margin: 50px;
    text-align: center;
  }

  .marker-div {
    order: 2;
  }

  .info-div h1 {
    font-size: 75px;
  }

  .info-div p {
    font-size: 20px;
    padding: 0px;
  }

  .sgn-btn {
    display: none;
  }

  .marker {
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: 800;
    justify-self: center;
  }

  .marker p {
    padding: 0;
  }

  .main-box{
    gap: 30px;
  }

  .grid-line {
    gap: 30px;
  }

  .search-bar {
    width: 520px;
    height: 50px;
  }

  .search-bar p {
    font-size: 30px;
  }

  .scroll-line {
    left: 6%;
  }

  .feature-img {
    order: 1;
    gap: 0px;
  }

  .feature-img img {
    width: 300px;
    height: 300px;
  }

  .feature-text {
    order: 2;
    gap: 0px;
    padding: 0px 50px;
  }

  .feature-text h3, p {
    padding-left: 20px;
  }

  .one-feature {
    flex-direction: column;
    margin: 0px;
    gap: 20px;
  }

  .form-div h2 {
    font-size: 45px;
  }

  .form-div p {
    font-size: 18px;
  }

  .form-a, .counter {
    width: 65%;
  }

  .counter h2 {
    font-size: 35px;
  }

  .footer p {
    font-size: 16px;
    padding: 10px;
  }

  .ith-class {
    display: none;
  }
}

@media (max-width: 620px) {
  .nav-bar {
    max-width: 450px;
    height: 60px;
  }

  .nav-links a {
    display: none;
  }

  .nav-button button {
    font-size: 14px;
  }

  .info-div {
    margin: 50px 30px;
  }

  .info-div h1 {
    font-size: 60px;
  }

  .info-div p {
    font-size: 18px;
    padding: 0px;
  }

  .marker {
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: 800;
    align-content: center;
    justify-items: center;
  }

  .main-box{
    gap: 25px;
  }

  .grid-line {
    gap: 20px;
  }

  .search-bar {
    width: 320px;
    height: 40px;
  }

  .search-bar p {
    font-size: 20px;
  }

  .data-seo h2 {
    font-size: 50px;
  }

  .scroll-line {
    left: 8%;
  }

  .scroll-track {
    width: 10px;
  }

  .scroll-dot {
    width: 60px;
    height: 60px;
    font-size: 3rem;
  }


  .feature-img img {
    width: 300px;
    height: 300px;
  }

  .feature-text h3 {
    font-size: 35px;
  }

  .feature-text p {
    font-size: 18px;
  }

  .form-a input {
    width: 100%;
  }

  .counter {
    width: 70%;
  }

}

@media (max-width: 470px) {
  .nav-bar {
    max-width: 350px;
    height: 40px;
  }

  .nav-button button {
    display: none;
  }

  .info-div {
    margin: 50px 20px;
  }

  .marker-div {
    align-items: center;
  }

  .info-div h1 {
    font-size: 50px;
  }

  .info-div p {
    font-size: 16px;
  }

  .marker {
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
    justify-items: center;
  }

  .main-box{
    gap: 18px;
    align-items: center;
  }

  .grid-line {
    gap: 18px;
  }

  .search-bar {
    width: 300px;
    height: 30px;
  }

  .search-bar p {
    font-size: 18px;
  }

  .data-seo h2 {
    font-size: 40px;
  }

  .scroll-line {
    left: 8%;
  }

  .scroll-track {
    width: 8px;
  }

  .scroll-dot {
    width: 45px;
    height: 45px;
    font-size: 28px;
    border: 2px solid #263f44;
  }

  .form-a label {
    font-size: 18px;
  }

  .form-a input {
    height: 40px;
    border-radius: 10px;
  };

  .form-a button {
    padding: 5px;
  }

  .counter {
    width: 85%;
  }

  .counter h2 {
    font-size: 30px;
  }

}