html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  .hm {
    width: 100%;
    background-color: #263f44;
    height: 640px;
  }

  .hmh{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .hmhs{
    width: 100%;
    
  }

  .hmhs h1{
   width: 100%;
   display: flex;
   justify-content: center; 
   text-align: center;
   padding-top: 40px;
   font-size: 3.9rem;
   margin-top: 0;
   color: #ffd369;
   font-family: 'Poppins', sans-serif;
   letter-spacing: 3px;

  }

  .hmhs span{
    color: #fff1cf;
    letter-spacing: 3px;
    margin: 0;
  }

  .hms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 325px;
    background-color: #ffd369; 
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
  }

  .stats-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .hms2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 325px;
    background-color: #fff1cf; 
    font-family: 'Poppins', sans-serif;
    padding: 20px;
  }

  .hms h1{
    color: #263f44;
    font-size: 2.6rem;
    padding-left: 10px;
    margin: 0;
  }

  .hms p{
    margin: 0;
    font-size: 1.1rem;
    margin-top: 10px;
    color: #263f44;
  }

  .hms2 h1{
    font-size: 2.6rem;
    padding-left: 10px;
    color: #263f44;
    margin: 0;
  }

  .hms2 p{
    margin: 0;
    font-size: 1.1rem;
    margin-top: 10px;
    color: #263f44;
  }

  .hero3-m{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #fff1cf;
    padding: 50px 0px;
    gap: 20px;
  }

  .hero3-m h1{
    text-align: center;
    color: #263f44;
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    
  }

  .in-cont{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    width: 100%;
    margin-top: 30px;
  }

  .in-box{
    height: 100%;
    width: 670px;
    border-radius: 20px;
  }

  .in-box img {
    width: 500px;
    height: auto;
  }
  
  .in-box2{
    height: 100%;
    width: 500px;
    background-color: #fff1cf;
    border-radius: 20px;
    padding-top: 20px;
    
  }

  .in-box2 h1{
    text-align: left;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .in-box2 p{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
  }

.hero4-m{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h4-s{
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.h4-ss{
  display: grid;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  gap: 25px;
  padding: 80px;
  justify-content: center;
}

.h4-under{
  width: 80%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(8px, 1.5vw, 12px);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.boxed{
  position: absolute;
  top: 48%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #015668;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  z-index: 100;
  color: white;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.boxed h1{
  font-size: 3.8rem;
  text-Align: left;
  color:#fff1cf;
  padding-Left:20px;
  font-family: 'Poppins', sans-serif;
}

.boxed p{
  color: #fff1cf;
  font-size: 1.2rem;
  padding-left: 20px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}


.just-button {
  display: flex;
  justify-content: start;
  
}

.just-button button {
  background: #fff1cf;
  border-radius: 20px;
  border: none;
  width: 300px;
  color: #263f44;
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;

}

.just-button2 {
  display: flex;
  justify-content: start;
  
}
.just-button2 button {
  background: #ffd369;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 450px;
  color: #263f44;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
}

@keyframes appear{

  from {
    opacity:0;
    scale: 0.5;
  }
  to{
    opacity:1;
    scale: 1;
  }
}

.block{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear2{

  from {
    opacity:0;
    transform: translateX(-200px);
  }
  to{
    opacity:1;
    transform: translateX(0px);

  }
}

.block2{
  animation: appear2  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear3{
  from {
    opacity:0;
    transform: translateX(200px);
  }
  to{
    opacity:1;
    transform: translateX(0px);

  }
}

.block3{
  animation: appear3  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.info-div h1{
  height: 200px;
  margin-bottom: 50px;
}