html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  .hm {
    width: 100%;
    background-color: #263f44;
    padding: 30px 0px;
  }

  .hmh{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .hmhs{
    width: 100%;
    
  }

  .hmhs h1{
   width: 100%;
   display: flex;
   justify-content: center; 
   text-align: center;
   padding-top: 40px;
   font-size: 3.9rem;
   margin-top: 0;
   color: #ffd369;
   font-family: 'Poppins', sans-serif;
  }

  .hmhs span{
    color: #fff1cf;
    margin: 0;
  }

  .hms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 280px;
    background-color: #ffd369; 
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
  }

  .stats-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    gap: 20px;
  }

  .hms2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 280px;
    background-color: #fff1cf; 
    font-family: 'Poppins', sans-serif;
    padding: 5px;
  }

  .hms h2{
    color: #263f44;
    font-size: 3.2rem;
    padding-left: 10px;
    margin: 0;
    text-align: left;
    align-self: flex-start;
  }

  .hms p{
    margin: 0;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0px 10px;
    color: #263f44;
    font-weight: 200;
    text-align: left;
    align-self: flex-start;
  }

  .hms2 h2{
    font-size: 3.2rem;
    padding-left: 10px;
    color: #263f44;
    margin: 0;
    text-align: left;
    align-self: flex-start;
  }

  .hms2 p{
    margin: 0;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0px 10px;
    font-weight: 200;
    color: #263f44;
    align-self: flex-start;
  }

  .hero3-m{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #fff1cf;
    padding: 0px;
    gap: 20px;
  }

  .hero3-m h1{
    text-align: center;
    color: #263f44;
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    
  }

  .in-cont{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    margin-top: 30px;
  }

  .in-box {
    height: 100%;
    width: 650px;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
  }

  .in-box img {
    width: 500px;
    height: auto;
  }
  
  .in-box2 {
    height: 100%;
    width: 800px;
    background-color: #fff1cf;
    border-radius: 20px;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 20px;
  }

  .in-box2 h2{
    text-align: left;
    font-size: 5rem;
    color: #263f44;
    font-family: 'Poppins', sans-serif;
  }
  
  .in-box2 p{
    font-size: 1.3rem;
    color: #263f44;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

.hero4-m{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h4-s{
  width: 100%;
  box-sizing: border-box;
}

.h4-ss{
  display: grid;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  gap: 25px;
  padding: 80px;
  justify-content: center;
}

.h4-under{
  width: 90%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.boxed{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 402px;
  height: 408px;
  background-color: #015668;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  z-index: 100;
  color: white;
  flex-direction: column;
  border: 10px solid #263f44;
  padding: 20px;
  gap: 20px;
}

.boxed h1{
  font-size: 4rem;
  text-Align: left;
  color:#fff1cf;
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
}

.boxed p{
  color: #fff1cf;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
}


.just-button {
  display: flex;
  justify-content: start;
  
}

.just-button button {
  background: #fff1cf;
  border-radius: 20px;
  border: none;
  width: 300px;
  color: #263f44;
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;

}

.just-button2 {
  display: flex;
  justify-content: start;
  
}
.just-button2 button {
  background: #ffd369;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 450px;
  color: #263f44;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
}

.block{
  /* animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%; */
  width: 550px;
  align-items: center;
}

.block2{
  /* animation: appear2  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%; */
  width: 550px;
  align-items: center;
}


.block3{
  /* animation: appear3  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%; */
  width: 550px;
  align-items: center;
}

@media (max-width: 1500px) {
  .hms, .hms2 {
    width: 220px;
    height: 300px;
  }

  .stats-container {
    flex-wrap: nowrap;
  }

  .hero4-m{
    min-height: 100%;
  }

  .boxed {
    width: 400px;
    height: 400px;
    padding: 10px;
  }

  .boxed h1 {
    font-size: 3.8rem;
  }

  .boxed p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1200px) {
  .in-box img {
    width: 450px;
  }

  .in-box2 {
    width: 700px;
  }

  .in-box2 h2 {
    font-size: 4.0rem;
  }

  .in-box2 p {
    font-size: 1.0rem;
  }

  .just-button2 {
    width: 70%;
  }

  .block3, .block, .block2 {
    width: 475px;
  }

  .boxed {
    width: 380px;
    height: 380px;
  }

  .boxed h1 {
    font-size: 3.6rem;
  }

  .boxed p {
    font-size: 1.4rem;
  }

  .just-button {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .hms, .hms2 {
    width: 160px;
    height: 240px;
  }

  .hmhs h1 {
    font-size: 2.8rem;
  }

  .hms h2, .hms2 h2 {
    font-size: 2.8rem;;
  }

  .hms p, .hms2 p {
    font-size: 0.9rem;
  }

  .in-box img {
    width: 350px;
  }

  .in-box2 {
    width: 600px;
  }

  .in-box2 h2 {
    font-size: 4.0rem;
  }

  .in-box2 p {
    font-size: 1.0rem;
  }

  .just-button2 {
    width: 70%;
  }

  .block3, .block, .block2 {
    width: 350px;
  } 
  .h4-ss{
    gap: 10px;
    padding: 10px;

  }
  .hero4-m{
    min-height: 100%;
  }

  .boxed {
    width: 350px;
    height: 350px;
  }
  
  .boxed h1 {
    font-size: 3.2rem;
  }

  .boxed p {
    font-size: 1.2rem;
  }

  .just-button {
    width: 70%;
  }

  .just-button button {
    font-size: 15px;
  }
}

@media (max-width: 775px) {
  .hms, .hms2 {
    width: 140px;
    height: 240px;
  }

    /* .stats-container {
      justify-items: auto ;
    } */

  .hmhs h1 {
    font-size: 2.6rem;
  }

  .hms h2, .hms2 h2 {
    font-size: 1.8rem;;
  }

  .hms p, .hms2 p {
    font-size: 1rem;
  }

  .in-cont {
    flex-direction: column;
    height: 100%;
  }

  .in-box img {
    width: 350px;
  }

  .in-box2 {
    width: 800px;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
  }

  .in-box2 h2 {
    font-size: 4.0rem;
    text-align: center;
  }

  .in-box2 p {
    font-size: 1.0rem;
    text-align: center;
  }

  .just-button2 {
    width: 100%;
    justify-content: center;
  }

  .block2, .block3 {
    width: 550px;
    text-align: center;
  }

  .h4-ss{
    gap: 10px;
    padding: 10px;

  }

  .stats-container {
    padding: 0px 10px;
    justify-content: space-evenly;
  }

  .hero4-m{
    min-height: 100%;
  }
  .block4 {
    order: 2;
  }

  .boxed {
    width: 300px;
    height: 300px;
    border: 5px solid #263f44;
  }
  
  .boxed h1 {
    font-size: 3rem;
  }

  .boxed p {
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 685px) {
  .stats-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 620px) {
  .hmhs h1 {
    font-size: 2.3rem;
  }

  .hero3-m h1 {
    font-size: 3.5rem;
  }

  .in-box2 {
    width: 80%;
  }

  .in-box2 h2 {
    font-size: 3.5rem;
    text-align: center;
  }

  .in-box2 p {
    font-size: 0.9rem;
  }
  .h4-ss{
    gap: 10px;
    padding: 10px;

  }
  .hero4-m{
    min-height: 100%;
  }

  .boxed {
    width: 220px;
    height: 220px;
  }

  .boxed h1 {
    font-size: 2.6rem;
  }

  .boxed p {
    font-size: 0.8rem;
  }

  .just-button button {
    font-size: 10px;
  }
}

@media (max-width: 470px) {
  .hms, .hms2 {
    width: 120px;
    height: 200px;
  }

  .hms p, .hms2 p {
    padding-left: 10px;
  }

  .h4-ss{
    gap: 10px;
    padding: 10px;

  }
  .hero4-m{
    min-height: 100%;
  }
  .hero3-m h1 {
    font-size: 2.8rem;
  }

  .in-box img {
    width: 300px;
  }

  .in-box2 h2 {
    font-size: 2.8rem;
  }

  .in-cont {
    margin-top: 5px;
  }

  .boxed {
    width: 175px;
    height: 175px;
  }
  
  .boxed h1 {
    font-size: 2.0rem;
  }

  .boxed p {
    font-size: 0.8rem;
  }

  .just-button {
    width: 50%;
  }

  .just-button button {
    font-size: 10px;
  }

  .stats-container {
    padding: 0px 40px;
    justify-content: space-evenly;
  }

}